@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --prajana-deep-blue: #14123F;
  --prajana-purple: #7A228B;
  --prajana-light-purple: #835FA3;
  --prajana-magenta: #CE47C0;
  --prajana-cyan: #01E8EE;
  --prajana-teal: #24A4C4;
  --prajana-ice-blue: #DCF9F9;

  /* Default theme variables */
  --background-color-light: white;
  --text-color-light: var(--prajana-deep-blue);
  --background-color-dark: var(--prajana-deep-blue);
  --text-color-dark: var(--prajana-ice-blue);
}

@keyframes pattern {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}

.bg-pattern {
  background-image: radial-gradient(circle at 50% 50%, rgba(165, 85, 252, 0.1) 0%, rgba(165, 85, 252, 0) 50%);
  animation: pattern 20s ease-in-out infinite;
}
