@tailwind base;
@tailwind components;
@tailwind utilities;

@keyframes pattern {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}

.bg-pattern {
  background-image: radial-gradient(circle at 50% 50%, rgba(165, 85, 252, 0.1) 0%, rgba(165, 85, 252, 0) 50%);
  animation: pattern 20s ease-in-out infinite;
}
